@use "globals" as *;

section {
    padding-top: 150px;

    @include respond-to(small) {
        padding-top: 20px;
        position: static;
    }
}

.sobremi {

    padding: 60px 20px;
    padding-top: 170px;
    color: $primary-black;


    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .left,
    .right {
        width: 48%;
        /* Ancho de las columnas */
        padding: 20px;
    }

    .left h2 {
        margin-bottom: 20px;
    }

    .right img {
        width: 100%;
        height: auto;
        border-radius: $angle1-rem;
        box-shadow: $shadow;
    }

    @include respond-to(small) {
        text-align: center;

        .left,
        .right {
            width: 100%;
            margin-bottom: 20px;
        }
    }

}

.perfil-prof {
    padding-top: 190px;

    a {
        color: $primary-black;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .perfil-prof-heading {
        width: 100%;
        text-align: center;
        font-weight: bold;
        margin-bottom: 40px;

    }

    .perfil-prof-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;

        .perfil-prof-text {
            width: 60%;
        }

        .perfil-prof-skills {
            width: 35%;

            h3 {
                font-size: 24px;
                margin-bottom: 15px;
                font-weight: bold;
            }

            .skills {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                .skill {
                    background-color: $primary-grey;
                    padding: 8px 12px;
                    border-radius: $angle1;
                    font-size: 14px;
                    color: $primary-black;
                    text-align: center;
                }
            }
        }

        @include respond-to(small) {
            text-align: center;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .btn-area {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.proyectos {
    padding-top: 130px;
    text-align: center;
    margin-bottom: 3rem;

    .projects-container {
        display: flex;
        justify-content: space-around;
        gap: 30px;
        flex-wrap: wrap;
    }

    .project-card {
        background: $primary-white;
        border-radius: $angle1-rem;
        box-shadow: $shadow;
        width: 45%;
        max-width: 500px;
        transition: transform 0.3s ease;
        text-align: left;

        &:hover {
            transform: translateY(-10px);
        }

        .project-img {
            width: 100%;
            height: auto;
            border-radius: 8px;
            margin-bottom: 15px;
        }

        .card-text{
            padding: 1.5rem;
        }

        @include respond-to(small) {
            width: 90%;
            margin-bottom: 30px;
        }
    }


}