@use "globals" as *;

header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: $primary-white;
    box-shadow: $shadow;

    @include respond-to(small) {
        position: static;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond-to(small) {
            flex-direction: column;
        }
    }

    .perfil {
        display: flex;
        align-items: center;

        .perfil-img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .perfil-nombre {
            font-weight: bold;
            color: $primary-black;
            font-size: 18px;
            /* Ajusta el tamaño de tu nombre */
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style: none;

            @include respond-to(small) {
                flex-direction: column;
                gap: 10px;
                text-align: center;
                margin-top: 20px;
            }
        }

        a {
            display: flex;
            align-items: center;
            color: $primary-black;
            text-decoration: none;
            text-align: center;
        }

        li {
            padding: 10px 30px;

            &:hover {
                background: $primary-grey;
                transform: scale(1.1);
            }
        }
    }
}