@use "globals" as *;

.social-lateral {
    position: fixed; 
    top: 50%; 
    left: 20px; 
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px; 
    z-index: 800; 
  
    a {
      font-size: $icon-size-small-rem; 
      text-decoration: none; 
      color: $primary-dark-grey;
  
      &:hover {
        transform: scale(1.2);
        color: $primary-black;
      }
    }
  }
  